body {
  background-color: black;
  text-color: white;
}

header {
  background-color: red;
  text: italic;
  color: black;
}

h1 {
    text-align: center;
    color: #800080;
}

p {
  color: black;
  text:italic;
}

img {
  border-radius: 15px;
  border-style: groove;
}

ul {
  font-family:fantasy;
  color: white
}

footer p {
  background-color: red;
  color: lime;
  font-style: italic;

}

/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
