body {
  background-color: #FFD700;
  text-color: white;
}

  h1 {
    text-align: center;
    color: #800080;
}

p {
  color: white;
  text:italic;
}

img {
  border-radius: 15px;
  border-style: groove;
}

ul {
  font-family:fantasy;
}
<style>
.footer {
  position: fixed;
  background-color: red;
  text: italic;
}
</style>

<p>"Everything passes. Nobody gets anything for keeps. And that's how we've got to live." - Haruki Murakami</p>

/* Give your page a fun background color */

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
